.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  p {
    padding: 200px 0;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
  backdrop-filter: saturate(180%) blur(5px);
}
