.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  p {
    padding: 200px 0;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 35px;
  background: #88867855;
  border: 1px solid red;
  backdrop-filter: saturate(180%) blur(5px);
}
